
.carousel-item img {
    margin:0 auto 0 auto;
    max-height: 600px;
    max-width: 600px;
    object-fit: cover;
  
}

.carousel-caption {
    background-color: #333333;
    margin: 0 auto;
    max-width: 600px;
    opacity: 80%;
}
a:link {
 text-decoration: none;   
}

.container {
    background-color: white;
}

li {
    list-style-type:none;
}

img {
    float: right;
}

p {
    font-weight: bold;
font-size: larger;

}

ul {
    padding: 10px;
    
}